@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital,wght@1,700&family=Playfair+Display:ital,wght@1,700&family=Satisfy&display=swap');
:root{
     --dark:#374151;
     --darker:#1f2937;
     --darkest: #111827;
     --gray:#6B7280;
     --light:#eee;
     --pink:#ec4899;
     --purple:#8b5cf6;
     
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'fira sans','sans-serif';
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(204, 242, 232);
    color: #fff;

}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 400;
    color:black;
    margin-bottom: 1rem;
}
#new-task-form{
    display: flex;


}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

}
#new-task-input{
    flex:1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    font-family: 'Lora', serif;
}
#new-task-input::placeholder{
    color: var(--gray);
    font-family: 'Lora', serif;
}
#new-task-submit{
    color: var(--pink);
    font-size:1.5rem;
    font-weight:700;
    font-family: 'Lora', serif;
    background-image: linear-gradient(to right,rgb(79, 219, 160),rgb(49, 149, 111));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
    opacity: 0.8;
}
#new-task-submit:active{
    opacity: 0.6;
}
main{
    flex:1 1 0%;
    padding: 2rem,1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 2.0rem;
    font-weight: 300;
    color: rgb(52, 46, 46);
    margin-bottom: 1rem;
    font-family: 'Lora', serif;

}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
}
#tasks .task .content{
    flex:1 1 0%;
}
#tasks .task .content .text{
    color: #fff;
    font-size: 1.125rem;
    width:100%;
    display: block;
    transition: 0.4s;
    font-family: 'Lora', serif;

}
#tasks .task .content .text:not(:read-only){
    color: #fff;
}
#tasks .task .actions{
    display: flex;
    margin:  0 -0.5rem;
}
.task .actions button{
    cursor:pointer;
    margin:0 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    font-family: 'Lora', serif;
}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}
.task .actions .edit{
    /* background-image: linear-gradient(to right,var(--pink),var(--purple)); */
    background-image: linear-gradient(to right,rgb(42, 212, 141),rgb(15, 94, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete{
    color: crimson;
}